# Connect PostgreSQL with Python

In [5]:
!pip3 install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\nicku\anaconda3\lib\site-packages (2.9.9)

In [6]:
import psycopg2
from psycopg2 import sql

In [23]:
# Replace these parameters with your actual database credentials
db_user = "postgres"
db_password = "postgres" #Use your own password
db_host = "localhost"  # Usually "localhost" if running locally
db_port = "5432"  # Default is 5432

connection = psycopg2.connect(
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port,
    database='w2d5' # cara mengakses database
)

In [24]:
cursor = connection.cursor()

In [13]:
connection.autocommit = True

q = sql.SQL('SELECT NOW();') # Script sql diakses lewat python
cursor.execute(q)

result = cursor.fetchone()

cursor.close()
connection.close() # disarankan untuk close setelah melakukan transaksi

print(result)

(datetime.datetime(2023, 12, 22, 11, 36, 53, 644566, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))),)

In [20]:
connection.autocommit = True

q = sql.SQL('SELECT * FROM teams;') # Script sql diakses lewat python
cursor.execute(q)

result = cursor.fetchone()

cursor.close()
connection.close() # disarankan untuk close setelah melakukan transaksi

print(result)

('FBS (Division I-A Teams)', 'American Athletic', 'Cincinnati', 'http://espn.go.com/ncf/teams/roster?teamId=2132', 1)

In [25]:
#Fetch data dari 10 entry pertama

connection.autocommit = True

q = sql.SQL('SELECT * FROM teams;') # Script sql diakses lewat python
cursor.execute(q)

result = cursor.fetchmany(10)

cursor.close()
connection.close() # disarankan untuk close setelah melakukan transaksi

print(result)

[('FBS (Division I-A Teams)', 'American Athletic', 'Cincinnati', 'http://espn.go.com/ncf/teams/roster?teamId=2132', 1), ('FBS (Division I-A Teams)', 'American Athletic', 'Connecticut', 'http://espn.go.com/ncf/teams/roster?teamId=41', 2), ('FBS (Division I-A Teams)', 'American Athletic', 'Houston', 'http://espn.go.com/ncf/teams/roster?teamId=248', 3), ('FBS (Division I-A Teams)', 'American Athletic', 'Louisville', 'http://espn.go.com/ncf/teams/roster?teamId=97', 4), ('FBS (Division I-A Teams)', 'American Athletic', 'Memphis', 'http://espn.go.com/ncf/teams/roster?teamId=235', 5), ('FBS (Division I-A Teams)', 'American Athletic', 'Rutgers', 'http://espn.go.com/ncf/teams/roster?teamId=164', 6), ('FBS (Division I-A Teams)', 'American Athletic', 'South Florida', 'http://espn.go.com/ncf/teams/roster?teamId=58', 7), ('FBS (Division I-A Teams)', 'American Athletic', 'Southern Methodist', 'http://espn.go.com/ncf/teams/roster?teamId=2567', 8), ('FBS (Division I-A Teams)', 'American Athletic', 'Temple', 'http://espn.go.com/ncf/teams/roster?teamId=218', 9), ('FBS (Division I-A Teams)', 'American Athletic', 'UCF', 'http://espn.go.com/ncf/teams/roster?teamId=2116', 10)]